@import "tailwindcss";

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background: #f9fafb; /* Optional: subtle background */
  box-sizing: border-box;
}

#root {
  width: 100vw;
  min-height: 100vh;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
input[type="number"],
input[type="tel"] {
  @apply w-full border my-1 py-1 px-3 rounded-full md:rounded-2xl;
}

textarea {
  height: 150px;
}

/* button {
  @apply bg-gray-300;
} */
button.primary {
  background-color: #F5385D;
}

button.login {
  background-color: #F5385D;
  @apply p-2 w-full text-white rounded-2xl; 
}

